<template name="home">
<div id="skrollr-body">
    {{> skrollrBackground}}
    <section id="intro" class="colored text-center">
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="row">
                        <a class="navbar-brand" href="{{pathFor 'home'}}">{{Config.name}}</a>
                        <div id="main-nav" class="navbar-collapse">

                            <ul class="social-links">
                                <a href="{{pathFor 'viz'}}"><li>Visualise</li></a>
                                <a href="{{pathFor 'about'}}"><li>About</li></a>
                                <a href="{{pathFor 'contact'}}"><li>Contact</li></a>
                                {{#if isInRole 'admin'}}
                                    <a href="{{pathFor 'adminDashboard'}}"><li>{{_ "admin"}}</li></a>
                                {{/if}}
                                {{#unless User}}
                                <a id="home-login" href="{{pathFor route='atSignIn'}}"><li>{{_ "login2"}}</li></a>
                                {{/unless}}
                                {{#each socialMedia}}
                                <a href="{{url}}" target="_blank"><li class="fa fa-{{icon}}"></li></a>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="intro-well wow animated bounceIn">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <h1>{{Config.title}} <b>ALPHA</b> </h1>
                        <h2 style="color:white;" class="hidden-xs">{{Config.subtitle}}</h2>
                        <div id="vis"></div>
                        <!-- {{#if User}}
                        <a href="{{pathFor 'dashboard'}}" class="btn btn-success"><i class="fa fa-dashboard"></i> {{_ "dashboard"}}</a>
                        {{else}} -->
                        <a id="gotoviz-btn" class="btn brand-primary" href="{{pathFor 'dashboard'}}">{{_ "gotoviz"}}</a>
                        <!-- {{/if}} -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 bounce downlink">
                        <div>More Info</div>
                        <div ><a class="fa fa-arrow-circle-down fa-3x no-link-style " href="#about"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="text-center">
        <div class="container wow fadeIn animated">
            <div class="row col-md-12">
                <h3><b>About</b></h3>
                <h3>{{_ "how"}}</h3>
                <h4>{{Config.name}} - {{Config.subtitle}}</h4>
                <img id="diagrams-img" src="img/diagrams-transparent.png" alt="" class="wow animated fadeInRight" data-wow-delay="1s">
            </div>
        </div>
    </section>
<!--     <section id="ipad" class="colored text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>{{_ "section_ipad_header"}}</h3>
                    <p>{{_ "section_ipad_text"}}</p>
                    <p class="text-center">
                    <a href="{{Config.about}}" target="_blank" class="btn btn-success">
                    {{_ "section_ipad_btn"}}
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </section> -->
    <section id="contact" class="text-center">
        <div class="container">
            <h3><b>Contact Us</b></h3>
            <div class="row">
                <div class="col-md-12 text-center wow fadeInDown animated" data-wow-delay="0.8s">
                    <img src="img/yhd_logo.jpg">
                    <a class="btn brand-primary" href="{{pathFor 'dashboard'}}">Email</a>
                    <a class="btn brand-primary" href="{{pathFor 'dashboard'}}">Blog</a>
                    <a class="btn brand-primary" href="{{pathFor 'dashboard'}}">Twitter</a>
                </div>
            </div>
        </div>
    </section>
</div>
{{> footerHome}}
</template>
<template name="skrollrBackground">
<div
    id="skroll-background-intro"
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#intro"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">
    <div
        class="parallax-image parallax-image-100"
        data-anchor-target="#intro"
        data-bottom-top="transform: translate3d(0px, -80%, 0px);"
        data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
    <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
</div>
</template>
<template name="footerHome">
    <footer id="footer-home">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-offset-2 col-md-8">
                    <ul class="social-networks">
                        {{#each socialMedia}}
                        <li><a href="{{url}}" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-{{icon}} fa-stack-1x fa-inverse"></i>
                        </span></a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    {{{Config.footer}}}
                </div>
            </div>
        </div>
    </footer>
</template>
