
@font-face {
    font-family: 'Reminder Pro Regular';
    src: url('http://f.fontdeck.com/f/1/Zk9URmhRZ1AABfXvxTF9QNnJp9BaXCon2A3pDZ8VoLgSfwfv+5hh1B9cf0sLx5MJ5/eqrwPCsJ6sB8p8xF0elgMTwmCozsH+ZzpXMxd8iaH7Bi+2hci0ygV6wWccWQhZqa/V8uzSbxsvKdWglbyMfr1i.eot');
    src: url('http://f.fontdeck.com/f/1/Zk9URmhRZ1AABfXvxTF9QNnJp9BaXCon2A3pDZ8VoLgSfwfv+5hh1B9cf0sLx5MJ5/eqrwPCsJ6sB8p8xF0elgMTwmCozsH+ZzpXMxd8iaH7Bi+2hci0ygV6wWccWQhZqa/V8uzSbxsvKdWglbyMfr1i.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/Zk9URmhRZ1AABfXvxTF9QNnJp9BaXCon2A3pDZ8VoLgSfwfv+5hh1B9cf0sLx5MJ5/eqrwPCsJ6sB8p8xF0elgMTwmCozsH+ZzpXMxd8iaH7Bi+2hci0ygV6wWccWQhZqa/V8uzSbxsvKdWglbyMfr1i.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/Zk9URmhRZ1AABfXvxTF9QNnJp9BaXCon2A3pDZ8VoLgSfwfv+5hh1B9cf0sLx5MJ5/eqrwPCsJ6sB8p8xF0elgMTwmCozsH+ZzpXMxd8iaH7Bi+2hci0ygV6wWccWQhZqa/V8uzSbxsvKdWglbyMfr1i.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontSite Sans Light';
    src: url('http://f.fontdeck.com/f/1/a0RfMzlLZ1oABSF/Y16JjNrxBgNPjQmm/f1H/i+IsR2BGPgMj739YFTBoKU9z+IPN3hV+4+SNFdadL731b+J5vVX8x7yXqwpzTsbrfMvjGnfPVO/1pBCeqteGUeIO8Ug+kd3WlXA6q7jTZCmVrMqj06X.eot');
    src: url('http://f.fontdeck.com/f/1/a0RfMzlLZ1oABSF/Y16JjNrxBgNPjQmm/f1H/i+IsR2BGPgMj739YFTBoKU9z+IPN3hV+4+SNFdadL731b+J5vVX8x7yXqwpzTsbrfMvjGnfPVO/1pBCeqteGUeIO8Ug+kd3WlXA6q7jTZCmVrMqj06X.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/a0RfMzlLZ1oABSF/Y16JjNrxBgNPjQmm/f1H/i+IsR2BGPgMj739YFTBoKU9z+IPN3hV+4+SNFdadL731b+J5vVX8x7yXqwpzTsbrfMvjGnfPVO/1pBCeqteGUeIO8Ug+kd3WlXA6q7jTZCmVrMqj06X.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/a0RfMzlLZ1oABSF/Y16JjNrxBgNPjQmm/f1H/i+IsR2BGPgMj739YFTBoKU9z+IPN3hV+4+SNFdadL731b+J5vVX8x7yXqwpzTsbrfMvjGnfPVO/1pBCeqteGUeIO8Ug+kd3WlXA6q7jTZCmVrMqj06X.ttf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Swister Regular';
    src: url('http://f.fontdeck.com/f/1/T1l5aWt6UUUABVfN9NYaJmVXVfTjNnyuWAyoTX1BKFl2BnlUDCO3ikdVIOhHEGDOL1yrid1cPTwblbYjh/sFW+8ZnghjpcZNPQdGN3xXR3sXSy/Y2u9klUxb5LQCHOiJPG1dl/qBMUmj3uQP/rczCMEx.eot');
    src: url('http://f.fontdeck.com/f/1/T1l5aWt6UUUABVfN9NYaJmVXVfTjNnyuWAyoTX1BKFl2BnlUDCO3ikdVIOhHEGDOL1yrid1cPTwblbYjh/sFW+8ZnghjpcZNPQdGN3xXR3sXSy/Y2u9klUxb5LQCHOiJPG1dl/qBMUmj3uQP/rczCMEx.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/T1l5aWt6UUUABVfN9NYaJmVXVfTjNnyuWAyoTX1BKFl2BnlUDCO3ikdVIOhHEGDOL1yrid1cPTwblbYjh/sFW+8ZnghjpcZNPQdGN3xXR3sXSy/Y2u9klUxb5LQCHOiJPG1dl/qBMUmj3uQP/rczCMEx.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/T1l5aWt6UUUABVfN9NYaJmVXVfTjNnyuWAyoTX1BKFl2BnlUDCO3ikdVIOhHEGDOL1yrid1cPTwblbYjh/sFW+8ZnghjpcZNPQdGN3xXR3sXSy/Y2u9klUxb5LQCHOiJPG1dl/qBMUmj3uQP/rczCMEx.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
